<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Insert Controller</h1>
    <form action="insertAll/fromCsv" method="post">
        <h2>CSV 파일로 업로드</h2>
        <p>테이블 이름</p>
        Place<input type="radio" value="Place" name="table"><br>
        City<input type="radio" value="City" name="table"><br>
        Category<input type="radio" value="Category" name="table"><br>
        Subcategory<input type="radio" value="Subcategory" name="table"><br><br>
        <input type="submit" value="선택">
    </form>
    <form action="insertAll/fromText" method="get">
        <h2>직접 입력하기</h2>
        <p>테이블 이름</p>
        Place<input type="radio" value="Place" name="table"><br>
        City<input type="radio" value="City" name="table"><br>
        Category<input type="radio" value="Category" name="table"><br>
        Subcategory<input type="radio" value="Subcategory" name="table"><br><br>
        <input type="submit" value="선택">
    </form>
    <a href="/">Home</a>
</body>
</html>